
.hero_section {
        
        background-image: url('Images/heroBg.jpg'); 
        background-size: cover;  
        background-position: center;
    }
    body {
        overflow-y: scroll;
        font-family: 'Roboto', sans-serif;
       
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .body {
        background-color: #d4d4d4;
       
    }
    .swiper {
        width: 100%;
        margin: 20px 0;
    }
    .active {
        color: #026DB8 !important; /* Active menu color */
        font-weight: bold;
        
    }
    






#cardContainer {
    scrollbar-width: thin; 
}
